<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Update Avenger</h1>
        <form  th:action="@{/updateAvenger}" th:object="${avenger}" method="post">
            <input type="hidden" th:field="*{id}">   <!-- If we don't include hidden field then it will create new object-->
            Name: <input type="text" th:field="*{name}"> <br><br>
            Heroic Name: <input type="text" th:field="*{heroic_name}">  <br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>