<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin}">

<body>

<div layout:fragment="content">

    <div class="container-fluid">
        <div class="head mt-3">
            <h1>Pet Management</h1>
            <a th:href="@{/admin/pets/add}" class="btn btn-primary mb-3">Add New Pet</a>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Selling Price</th>
                        <th>Discounted Price</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pet : ${pets}">
                        <td th:text="${pet.id}"></td>
                        <td th:text="${pet.name}"></td>
                        <td th:text="${pet.category}"></td>
                        <td th:text="${pet.sellingPrice}"></td>
                        <td th:text="${pet.discountedPrice}"></td>

                        <td>
                            <div th:if="${pet.petImage != null}">
                                <img th:src="@{'/admin/pets/images/' + ${pet.id}}" alt="pet" width="70" height="70">
                            </div>
                            <div th:if="${pet.petImage == null}">No Image</div>
                        </td>

                        <td>
                            <a th:href="@{/admin/pets/update/{id}(id=${pet.id})}" class="btn btn-warning btn-sm">Edit</a>
                            <a th:href="@{/admin/pets/delete/{id}(id=${pet.id})}" class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

</body>
</html>
