<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">
        <div class="head mt-3">
            <h1>User Management</h1>
            <a  th:href="@{/admin/users/add}" class="btn btn-primary mb-3">Add New User</a>
        </div>

        <!-- Table displaying the users -->
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <th scope="row" th:text="${user.id}">1</th>
                            <td th:text="${user.username}">JohnDoe</td>
                            <td th:text="${user.email}">johndoe@example.com</td>
                            <td>
                                <!-- Edit Button -->
                                <a th:href="@{/admin/users/update/{id}(id=${user.id})}">
                                    <button class="btn btn-warning">Edit</button>
                                </a>
                                <!-- Delete Button -->
                                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>
